@import "includes/settings";

.carousel 
{
	max-width: 500px;
	height: 162px;

	display: flex;
	justify-content: flex-start;

	border: 1px solid peru;
	margin: 0 auto;

	overflow: hidden;
	position: relative;
}

.carousel img 
{
	position: absolute;
	border: 1px solid deeppink; 
}
